.flex-row {
  display: flex;
  flex-wrap: wrap;
}


.space-between {
  justify-content: space-between;
}

.center-vertical {
  align-items: center;
}

.mx {
  margin-right: calc(1rem);
  margin-left: calc(1rem);
}

ul > li {
  display: inline-block;
  list-style: none;
}